.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content i {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    text-align: right;
    margin-top: 50px;
}

a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

#signin {
    margin: 10px;
    background-color: blue;
    border: 0px;
    height: 25px;
    color: white;
    border-radius: 10%;
}

.text {
    width: 600px;
    height: 45px;
    border-radius: 25px;
    border-style: groove;
}

.btn {
    margin: 10px;
    height: 30px;
    border: 0px;
}

.center img {
    width: 350px;
    height: 220px;
}

.center {
    text-align: center;
    margin-bottom: 100px;
}

.fa-youtube {
    color: red;
}

#footerL {
    float: left;
}

#footerR {
    float: right;
}

.icon {
    position: absolute;
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

#dropbtn {
    width: 30px;
    height: 30px;
    position: relative;
    border: 0;
    background-color: white;
}

.fa-bars {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
}